{% extends 'site/base/base-search.html' %}

{% load static %}
{% load highlight %}
{% load data_filters %}

{% block content %}
        <!--广告-->
    {% include 'site/base/left/ad-niu.html' %}

   <div class="whitebg bloglist">
      <h2 class="htitle">最新技术</h2>
      <ul class="news-list">
        {% for item in page.object_list %}
        <li>
          <h3 class="blogtitle"><a href="/api/{{ item.object.id }}/" target="_blank"> {% highlight item.object.title with query %}</a></h3>
          <span class="blogpic imgscale"><i><a href="/">原创模板</a></i><a href="/api/{{ item.id }}/" title=""><img src="{{ item.object.cover }}" alt=""></a></span>
          <p class="blogtext"> {% highlight item.object.digest with query %}</p>
          <p class="bloginfo"><i class="avatar"><img src="{{ item.object.author.header }}"></i><span> {% highlight item.object.author.username with query %}</span><span>{{ item.object.mod | time_filters }}</span><span>【<a href="/">原创模板</a>】</span></p>
          <a href="/api/{{ item.object.id }}/" class="viewmore">阅读更多</a>
        </li>
        {% endfor %}
      </ul>

{#        分页 #}
			<ul class="pagination" style=" margin-left: 35%;">
			{% if page.has_previous %}
				<li><a href="/search?q={{ query }}&page={{ page.previous_page_number }}" aria-label="Previous">
					<span aria-hidden="true">&laquo;</span></a></li>
                {% else %}
                <li class="disabled"><a href="javascript:void(0);" aria-label="Previous">
					<span aria-hidden="true">&laquo;</span></a></li>
            {% endif %}

            {% for pindex  in page.paginator.page_range%}
            	{% if pindex == page.number %}
                    <li class="active"><a href="/search?q={{ query }}&page={{ pindex }}">{{ pindex }}</a></li>
                {%else%}

                 <li><a href="/search?q={{ query }}&page={{ pindex }}">{{ pindex }}</a></li>

                {%endif%}
             {% endfor %}

             {% if page.has_next %}
                 <li><a href="/search?q={{ query }}&page={{ page.next_page_number }}" aria-label="Next">
                      <span aria-hidden="true">&raquo;</span></a></li>
                 {% else %}
                  <li class="disabled"><a href="javascript:void(0);" aria-label="Next">
                      <span aria-hidden="true">&raquo;</span></a></li>
              {% endif %}
       		</ul>
		</div>

{% endblock %}

